@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');
@import url("https://fonts.googleapis.com/css?family=Metal+Mania");

@font-face {
    font-family: "Booter - Zero Zero";
    src: url("Fonts/Booter - Zero Zero.woff") format("woff"),
         url("Fonts/Booter - Zero Zero.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    font-family: Raleway;
    color: #777;
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
}

.nav ul {
    margin: 0;
}

.nav li {
    display: inline;
}

.nav a {
    display: inline-block;
    padding: .5em;
    color: white;
    text-decoration: none;
}

.main-nav {
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    border-bottom: 1px solid rgba(255, 255, 255, .3)
}

.main-nav li {
    padding: 0 5%;
}

.nav a:hover {
    background-color: rgba(255, 255, 255, .3)
}

.main-header {
    background-color: rgba(11, 14, 49, 0.6);
    background-image: url("https://m.media-amazon.com/images/I/A1lM+caMoZL._AC_UL480_FMwebp_QL65_.jpg");
    background-blend-mode: multiply;
    background-size: cover;
    padding-bottom: 30px;
}

.band-name {
    text-align: center;
    margin: 0;
    font-size: 4em;
    font-family: "Booter - Zero Zero";
    font-weight: normal;
    color: white;
}

.band-name-large {
    font-size: 8em;
}


  
  @media(min-width: 400px) {
    #home-hero-image-text-title-14947346 {
      font-size: 20px;
    }
  }
  
  @media (min-width: 551px) {
    #home-hero-image-14947346 {
      min-height: 375px;
      background-image: url("https://cdn11.bigcommerce.com/s-b5b4c/product_images/uploaded_images/juniper-flash-sale-1920-x-760-3-.jpg?t=1627318475");
    }
    
    /* #home-hero-image-icon-14947346 img {
      height: 115px;
    } */
  
    #home-hero-image-text-14947346 {
       margin: 30px auto 30px; 
       font-size: 32px;
    }
  
    #home-hero-image-text-title-14947346 {
      margin-top: 0; 
      margin-bottom: 0.5rem;
      font-size: 32px;
    
    }
    
    #home-hero-image-text-title-subtitle-14947346 {
      font-size: 24px;
    }
    
    #hero-cta-14947346, #hero-cta-mobile-14947346, #hero-cta-mobile-14947346 {
      max-width: 235px;
    }
  }
  
  @media(min-width: 800px) {
    #home-hero-14947346:after {
      
      width: 100%;
    }
    
    #home-hero-image-14947346 {
      background-position-x: unset;
      display: flex;
      align-items: center;
      text-align: right;
      max-height: 100%;
      background-position: center;
    }
    
    #home-hero-image-icon {
      display: unset;
      display: none;
    }
    
    #home-hero-image-text-14947346 {
      display: none;
    }
    
    #home-hero-image-text-desktop-14947346 {
      padding: 25px 3.5rem 0 !important;
      display: block;
      margin: 0 auto 55px;
    }
    
    #home-hero-image-text-desktop img {
      display: block;
      margin-right: auto;
      max-width: 140px;
    }
    
    #home-hero-image-text-desktop-title-14947346 {
      font-family: "DINOT", sans-serif;
      font-weight: 600;
      color: #FFFFFF;
      font-size: 72px;
      letter-spacing: 1.8px;
      text-transform: uppercase;
      z-index: 10;
      margin-top: 7rem;
      margin-bottom: 2rem;
    }
    
    #home-hero-image-text-desktop-subtitle-14947346{
      font-family: "Neutra", sans-serif;
      font-weight: 400;
      font-style: italic;
      color: #FFFFFF;
      font-size: 36px;
      margin-bottom: 2.4rem;
    }
    
    #btns-full-width-14947346 {
      justify-content: flex-end;
      padding: 0 0rem !important;
    }
  }
  
  @media (min-width: 13267px) {
    #home-hero-image-text-desktop-14947346 {
      padding: 0 1rem !important;
    }
  }
  
  
  
  
  
  
  @media(max-width: 800px) {
    #home-hero-14947346:after {
      
      width: 50%;
    }
  }
  
  
  
  
  
  
  
  @media (min-width: 280px) and (max-width: 350px) {
    #home-hero-image-icon-14947346 img{
      max-width: 100px;
    }
  }
  
  @media (min-width: 551px) and (max-width: 800px) {
    /* #home-hero-image-icon-14947346 img {
      max-height: 115px;
    } */
  }
  
  @media (min-width: 551px) and (max-width: 1500px) {
    #home-hero-image-14947346{
      background-position: calc(50% - -20%) 50%;
    }
  }
  
  
  
  
  
  @media (min-width: 280px) and (max-width: 399px) and (max-height: 670px) {
    #home-hero-image-14947346 {
      min-height: 75vw;
      background-position: 50% 80%;
    }
  }
  
  @media (min-width: 400px) and (max-width: 551px) and (max-height: 850px) {
    #home-hero-image-14947346 {
      min-height: 75vw;
      background-position: 50% 80%;
    }
  }
  






























































































































.content-section {
    margin: 1em;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}
.section-header {
    font-family: "sherif";
    font-weight: normal;
    color: rgb(25, 94, 73);
    text-align: center;
    font-size: 2.5em;
}

.about-band-image {
    float: left;
    height: 200px;
    width: 200px;
    margin: 15px;
    border-radius: 50%;
}

.main-footer {
    background-color: #1e414d;
    color: white;
    padding: .25em 0;
}

.main-footer-container {
    display: flex;
    align-items: center;
}

.main-footer-container ul {
    flex-grow: 1;
    text-align: end;
}

.footer-nav li {
    padding: 0 .5em;
}

.footer-nav img {
    width: 30px;
    height: 30px;
}

.btn {
    text-align: center;
    vertical-align: middle;
    padding: .67em .67em;
    cursor: pointer;
}

.btn-header {
    margin: .5em 15% 2em 15%;
    color: white;
    border: 2px solid #1f745a;
    background-color: rgba(255, 255, 255, .1);
    border-radius: 0;
    font-size: 1.5em;
    font-weight: lighter;
    padding-left: 2em;
    padding-right: 2em;
}

.btn-header:hover {
    background-color: rgba(255, 255, 255, .3);
}

.btn-play {
    display: block;
    margin: 0 auto;
    color: #2f6452;
    font-size: 4em;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding: 0;
    text-align: center;
}

.btn-primary {
    color: white;
    background-color: #053444;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #153649;
}

.tour-row {
    border-bottom: 1px solid black;
    padding-bottom: 1em;
    margin-bottom: 1em;
}

.tour-row:last-child {
    border: none;
}

.tour-item {
    display: inline-block;
    padding-right: .5em;
}

.tour-date {
    color: #555;
    width: 11%;
    font-weight: bold;
}

.tour-city {
    width: 24%;
}

.tour-arena {
    width: 42%;
}

.tour-btn {
    max-width: 19%;
}

.shop-item {
    margin: 30px;
}

.shop-item-title {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: rgb(95, 27, 27);
    margin-bottom: 15px;
}

.shop-item-image {
    height: 250px;
}

.shop-item-details {
    display: flex;
    align-items: center;
    padding: 5px;
}

.shop-item-price {
    flex-grow: 1;
    color: #333;
}

.shop-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #333;
}

.cart-quantity {
    width: 35%;
}

.cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #CC4C4C;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #102e38;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 1px solid rgb(16, 31, 99);
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.cart-total-price {
    color: #333;
    font-size: 1.1em;
}

.btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
}